body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.signup-page {
    height: 100vh;
    background: linear-gradient(to right, #fbdce3, #fce3ec);
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: auto;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #444;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
}

.signup-button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #fba0b4, #f6a5c0);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}

.signup-button:hover {
    background: linear-gradient(to right, #f794b1, #f9a7c3);
}

p {
    font-size: 14px;
    margin-top: 15px;
}

p a {
    color: #d36c8e;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}